{% extends 'base.html.twig' %}

{% block title %}index property{% endblock %}
{% block body %}
    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row align-items-end">
                <div class="col">
                    {{ form_row(form.maxPrice) }}
                </div>
                <div class="col">
                    {{ form_row(form.minSurface) }}
                </div>
                <div class="col">
                    {{ form_row(form.optionals) }}
                </div>
                <div class="col">
                    <div class="form-group">
                        <button class="btn btn-secondary">Rechercher</button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
<div class="example-wrapper">
    <h1>Nos bien ✅</h1>
<h1>Voir tout nos Biens</h1>
    <div class="row">
        {% for property in properties %}
        <div class="col-md-4">
            {% include 'property/property.html.twig' %}
        </div>
    {%  endfor %}
    </div>
    <div class="pagination justify-content-center">
        {{ knp_pagination_render(properties) }}
    </div>

</div>
{% endblock %}
