
{% block body %}
    <div class="card">
        {% if property.filename %}
        <img src="{{ vich_uploader_asset(property,'imageFile') }}" class="card-img-top" alt="image" style="height:auto">
        {% endif %}
        <div class="card-body">
            <h3 class="card-title">{{ property.title }}</h3>
            <p class="card-text">{{  property.description  }}</p>
            <div class="card-text mb-3">
                {{ property.city }} -  {{ property.postalCode }}
                <h2>{{ property.formattedPrice }} €</h2>
                <a href="{{ path('property_show',{'slug': property.slug, 'id': property.id }) }}" class="btn btn-primary">Voir le bien</a>
            </div>
        </div>
    </div>
{% endblock %}



